body {
    /* 背景颜色 */
    background-color: #b5a789;
    /* 字体 */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* 字体大小 */
    font-size: small;
    /* 用于设置外边距，控制盒子和盒子之间的距离 */
    margin: 0px;
}
#header {
    /* 背景颜色 */
    background-color: #675c47;
    /* 外边距 */
    margin: 10px 10px 0px 10px;
    /* 高度 */
    height: 108px;
}
#headerSlogan {
    /* 图片元素向右移动 */
    float: right;
}
#award {
    /* 绝对定位 */
    position: absolute;
    /* 顶部偏移量 */
    top:  30px;
    /* 左部偏移量 */
    left: 365px;
}
#coupon {
    /* 固定定位 */
    position: fixed;
    /* 顶部偏移量 */
    top: 350px;
    /* 左部偏移量 */
    left: -90px;
}
/* ！！！！ */
#coupon a{
    border: none;
}
#coupon img{
    border: none;
}
#tableContainer {
    /* 显示模式 */
    display: table;
    /* 该属性指定分隔边框模型中单元格边界之间的距离。在指定的两个长度值中，第一个是水平间隔，第二个是垂直间隔。 */
    border-spacing: 10px;
}
#tableRow {
    display: table-row;
}
#drinks {
    /* !!!! */
    display: table-cell;
    background-color: #EFE5D0;
    width: 20%;
    /* 内边距 */
    padding: 15px;
    /* 垂直对齐 */
    vertical-align: top;
}
#main {
    background: #EFE5D0 url(images/background.gif) top left;
    font-size: 105%;
    padding: 15px;
    display: table-cell;
    vertical-align: top;
}
#sidebar {
    background: #EFE5D0 url(images/background.gif) bottom right;
    font-size: 105%;
    padding: 15px;
    display: table-cell;
    vertical-align: top;
}
/* id */
#footer {
    background-color: #675c47;
    color: #EFE5D0;
    text-align: center;
    padding: auto;
    margin: 0px 10px 10px 10px ;
    font-size: 90%;
}
h1 {
    font-size: 120%;
    color: #954b4b;
}
/* class */
.slogan {
    color: #954b4b;
}
.beanheading {
    /* 文本垂直对齐 */
    text-align: center;
    /* 行高 */
    line-height: 1.8em;
}
/* !!!! */
a:link {
    color:            #b76666;
    text-decoration:  none;
    border-bottom:    thin dotted #b76666;
}

