@font-face {
  font-family: "iconfont"; /* Project id 1671397 */
  src: url('//at.alicdn.com/t/font_1671397_uamnv3a12b.woff2?t=1621159532939') format('woff2'),
       url('//at.alicdn.com/t/font_1671397_uamnv3a12b.woff?t=1621159532939') format('woff'),
       url('//at.alicdn.com/t/font_1671397_uamnv3a12b.ttf?t=1621159532939') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-fill:before {
  content: "\e7ae";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-clock-fill:before {
  content: "\e77b";
}

.icon-reeor:before {
  content: "\e75e";
}

.icon-help:before {
  content: "\e752";
}

.icon-collection:before {
  content: "\e79f";
}

.icon-favorites:before {
  content: "\e7b7";
}

.icon-reeor-fill:before {
  content: "\e789";
}

.icon-prompt-fill:before {
  content: "\e788";
}

.icon-hot-fill:before {
  content: "\e781";
}

.icon-hot:before {
  content: "\e754";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-brand:before {
  content: "\e79d";
}

.icon-huojian:before {
  content: "\e68b";
}

.icon-warning-fill:before {
  content: "\e790";
}

.icon-unlock-fill:before {
  content: "\e78f";
}

.icon-success:before {
  content: "\e768";
}

.icon-success-fill:before {
  content: "\e78d";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-ashbin:before {
  content: "\e749";
}

.icon-sorting:before {
  content: "\e767";
}

.icon-customization:before {
  content: "\e74c";
}

.icon-smile:before {
  content: "\e766";
}

.icon-scenes:before {
  content: "\e79e";
}

.icon-play:before {
  content: "\e701";
}

.icon-ali-clould:before {
  content: "\e748";
}

.icon-quick:before {
  content: "\e7a3";
}

.icon-aviation:before {
  content: "\e770";
}

.icon-password1:before {
  content: "\e786";
}

.icon-account-fill:before {
  content: "\e7aa";
}

.icon-password:before {
  content: "\e75b";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-download:before {
  content: "\e74d";
}

.icon-tool:before {
  content: "\e76a";
}

.icon-VPN:before {
  content: "\e602";
}

.icon-Top:before {
  content: "\e769";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-close:before {
  content: "\e747";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-lift:before {
  content: "\e744";
}

.icon-browse:before {
  content: "\e745";
}

.icon-clock:before {
  content: "\e74b";
}

.icon-good:before {
  content: "\e753";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-account:before {
  content: "\e7b3";
}

.icon-comments:before {
  content: "\e7b4";
}

.icon-search:before {
  content: "\e7b5";
}

