body {
    margin: 0px;
    padding: 0px;
    background-color: black;

}
#main {
    margin: 0px auto; /*水平居中*/
    width: 1000px;
}
.v_header {
    height: 200px;
}
#text1 {
    margin: 0px;
    padding: 0px;
    top: 20px;
    position: absolute;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 2px ;
    color: rgba(128, 128, 128, 80%);
    margin-left: 50px;
}
.v_tile {
    margin: 0px;
    padding: 0px;
    top: 162px;
    position: absolute;
    height: 38px;
    width: 1000px;
    color: #ad805d;
    background-color:rgba(255, 255, 255, 0.6);
}
.v_span {
    display: block;
    float: left;
    height: 38px;
    padding: 10px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color:rgba(255, 255, 255, 0);
}
.v_span:hover {
    border: none;
    /* color: #fff; */
    background-color:rgba(255, 255, 255, 1);
    -webkit-transition: all .5s;
    transition: all .5s;
    color: red;
}
.line{
    background-color:rgba(255, 255, 255, 0.6);
    width:0.6px;/*设置宽高*/
    height: 38px;
    left:150px;
    float:left;/*让此div与前面的并排显示*/
}

aside {
    width: 20%;
    float: left;
    background-color: #fff;
    margin-top: 0px;
    height: 700px;
}
article {
    width: 60%;
    background-color: #fff;
    float: left;
    display: block;
    height: 700px;
}
aside1 {
    width: 20%;
    background-color: #759bc9;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    height: 700px;
}
.middle {
    position: relative;
    line-height: 1.2em;
    top: calc(50% - 1.2em * 5); /* 50% ‐ 行高 * 总行数/2 */
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.v_h {
    text-align: center;
    padding-top: 10px;
}
.v_h1 {
    text-align: center;
}
/* //加上去除轮廓：outline */
input:focus
{
    border: 2px solid red;
    outline: none;/*去掉默认input焦点边框*/
}
.button {
    background-color: cornflowerblue;
    border: none;
    color: #fff;
    padding: 8px 35px;
    margin: 5px;
    border-radius: 10px;
}
.v_photo1 {
    float: left;
    margin-left: 2px;
    width: 196px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.v_photo2 {
    float: left;
    margin-left: 5px;
    width: 196px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.v_photo3 {
    float: left;
    width: 196px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.float {
    float: left;
}
table{
    font-family: Arial, Helvetica, sans-serif;
}
.table1 {
    color: #fff;
    font-weight: bolder;
    background-color: #759bc9;
    text-align: center;
}
.table_2_1 {
    color: blue;
    text-decoration: underline;
}
.table_3 {
    background-color:#d8e5ff;
}
footer {
    width: 1000px;
    height: 800px;
    background-color: #ebaf67;
}
.font_foot {
    height: 100px;
    text-align: left;
    color: #fff;
}
.font_foot p{
    line-height: 100px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


