
.container {
    width: 1200px;
    /* 居中上下对齐 */
    margin: 0px auto;
}
.gery {
    background-color: #ededed;
    height: 40px;
    line-height: 40px;
}
.img1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-bottom: 2px;
}
.font_1 {
    display: inline-block;
    color: #333;
    font-size: 14px;
}
.font_2 {
    display: inline-block;
    color: #333;
    font-size: 14px;
}
.img2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-bottom: 2px;
}
.img3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 675px;
    margin-bottom: 2px;
}
.float_1{
    float: right;
}
.width_1 {
    width: 90px;
    border: #1b3a6f 1px solid;
    color: #333;
    font-size: 0.8rem;
}
.button {
    font-size: 0.8rem;
}
.search_1{
    float: right;
}
/* 搜索框开始 */
.top1 {
    margin-right: 10px;
    width: 280px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 20px;
}
.search {
    height: 30px;
    width: 200px;
    float: left;
    padding: 0 8px;
    outline: none;
    margin-left: 7px;
    background-color: #fff;
    border:none;
    border-radius: 10px;
}
.pic {
    align-items: center;
    height: 30px;
    width: 30px;
    margin-right: 6px;
    float: right;
    padding-top: 4px;
}
.pic img{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}
/* 搜索框结束 */

.hezi {
    display: block;
    float: left;
    height: 2em;
    width: 197px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-family: "微软雅黑、宋体";
    color: #fff;
    font-size: 16px;
    background-color:#16a6de;
}
.hezi:hover {
    background-color: #2e7adf;
}
#nav:hover{
    background-color: #2e7adf;
}
#hh :hover{
    background-color: #2e7adf;
}
.line {
    background-color:#fff;
    width:0.6px;/*设置宽高*/
    height: 30px;
    left: 197px;
    float:left;/* 让此div与前面的并排显示  */
}
a {
    text-decoration: none;
    color: #fff;
}
#nav {
    display: block;
    float: left;
    height: 2em;
    width: 197px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-family: "微软雅黑、宋体";
    color: #fff;
    font-size: 16px;
    background-color:#16a6de;
}
.font {
    line-height: 2em;
} 
#nav li{
    display:inline-block;
} 
#nav li a{
    display:inline-block;
    text-decoration:none;
    height: 2em;
    width: 197px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-family: "微软雅黑、宋体";
    color: #fff;
    font-size: 16px;
} 
#nav  li ul { 
    position:absolute; 
    left: 524px;
    top: 205px;
    display:none;
}
#nav li ul li {
    display: block;

}
#nav li ul li a {
    background:#00A2CA;
    width: 197px;
}
#nav li:hover ul{
    display:block; 
}


.img_font {
    float: left;
    margin-top: 5px;
    width: 600px;
    text-align: center;
}
.img_font img {
    width: 600px;
    height: 380px;
}
/* 省掉多余的文字 */
p {
    /* 定义为行内块级元素，只有块级元素可设置文字溢出后的替换效果 */
    display: inline-block;
    /*
    宽度 =100%-左侧装饰符的宽度 (0.25em)-装饰符左 (1px)、右 (0.5em) 外边距
    注意：calc 函数中运算符的左、右两边一定要有一个空格，否则无效！
    */
    width: calc(100% - 0.75rem - 1px);
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 文字溢出部分使用···替代 */
    color: #333;
    text-decoration: none;
    white-space: nowrap; 
}


.head {
    width: 590px;
    height: 37px;
}
.border_1 {
    border: #ccc 2px solid;
    line-height: 30px;
    font-weight: bold;
    padding: 10px;
}
.font_01 {
    font-weight: bold;
    padding-bottom: 16px;
}
.font_01:hover {
    border-bottom: #a72213 1px solid;
    color: #a72213;
}

.border_2 {
    border: #ccc 0.6px solid;
    margin-top: 8px;
}
.fontt {
    margin-top: 8px;
    padding-left: 610px;
}
.header2 {
    background-color: #f5f5f2;
}
#newid {
    color: #333;
    /* 定义为行内块级元素，只有块级元素可设置文字溢出后的替换效果 */
    display: inline-block;
    /*
    宽度 =100%-左侧装饰符的宽度 (0.25em)-装饰符左 (1px)、右 (0.5em) 外边距
    注意：calc 函数中运算符的左、右两边一定要有一个空格，否则无效！
    */
    width: calc(100% - 0.75rem - 200px);
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 文字溢出部分使用···替代 */
    color: #333;
    text-decoration: none;
    white-space: nowrap; 
}

.fla {
    float: right;
    color: #333;
}
h3  {
    margin-top: 0px;
}
p {
    padding-top: 0px;
    margin-top: 0px;
}
/* 悬停图片时，鼠标变小手 */
img:hover {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
#img_footer {
    width: 1200px;
}

footer {
    font-size: 14px;
    color: #666;
    line-height: 2em;
    height: 50px;
    width: 1200px;
    text-align: center;
}