/* 整个页面的主体 */
body {
	/* 背景颜色 背景图片url（图片路径） 图片位置 */
	background: #efe5d0 url(images/background.gif) top left;
	/* 外边距 */
	margin: 20px;
}
/* form表单 */
form {
	/* 显示模式 */
	display: table;
	/* 内边距 */
	padding: 10px;
	/* 边框的粗细及颜色 */
	border: thin dotted #7e7e7e;
	/* 表单背景颜色 */
	background-color: #e1ceb8;
}

/* 表单文本区域大小 */
form textarea {
	width: 500px;
	height: 200px;
}
/* 后代选择器 */
div.tableRow {
	/* 显示模式 */
	display: table-row;
}
/* 后代选择器 */
div.tableRow p {
	/* 显示模式 */
	display: table-cell;
	/* 垂直对齐方式 */
	vertical-align: top;
	/* 内边距 */
	padding: 3px;
}

div.tableRow p:first-child {
	/* 文本对齐 */
	text-align: right;
}
/* 后代选择器 */
p.heading {
	/* 字体粗细 */
	font-weight: bold;
}
