body {
    background: #fff;
    color: #333;
    font: 12px/22px "宋体","Arial Narrow";
}
* {
    margin: 0;
    padding: 0;
}

.channelHead {
  width: 100%;
  min-width: 1000px;
  line-height: 20px;
  background: #f7f7f7;
  border-top: 3px solid #213e82;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.cheadTopbar {
    width: 1000px;
    min-width: 1000px;
    height: 41px;
    margin: 0 auto;
}

.cheadTopbarLink {
    width: 545px;
    float: left;
    padding: 10px 0 0 5px;
}

.channelHead a:link, .channelHead a:visited {
    color: #000;
    text-decoration: none;
}

.channelHead a:hover {
    color: #c00;
    text-decoration: underline;
}

#wrap {
    width: 1000px;
    margin: 100px auto 0;
}
/* 弹出层 */
#dvLoginBox {
	display: none;
	position: absolute;
	top: 41px;
	z-index: 9998;
	color: #434343;
	box-shadow: 4px 4px 0 rgba(0,0,0,.1);
	background-color: #e5eff8;
	width: 477px;
	height: 294px;
	border: 1px solid #b8cdef;
}

#spnLoginText {
	float: right;
	line-height: 40px;
	height: 41px;
	font-family: 'Microsoft YaHei';
	color: rgb(62, 124, 192);
	cursor: pointer;
	margin-right: 277px;
	padding: 0 20px;
}

.spnLoginText_hover {
	border-right: 1px solid #b8cdef;
	border-left: 1px solid #b8cdef;
	border-bottom: 5px solid #e5eff8;
	background-color: #eaeaea;
	padding: 0 19px !important;
}

.leftPanel {
	width: 185px;
	float: left;
}

.leftPanel p {
	height: 40px;
	padding: 8px 0 0 26px;
}
.leftPanel img {
	display: block;
	margin: 9px auto;
}
.rightPanel {
	width: 280px;
	background-color: white;
	text-align: center;
	float: left;
	height: 261px;
	padding: 28px 6px 5px;
}
#spnCloseButton {
	font-family: Arial;
	position: absolute;
	top: 7px;
	right: 14px;
	cursor: pointer;
	padding: 3px;
}
#spnCloseButton:hover {
	color: #3f7bc1;
}

#wrap {
	width: 1000px;
	min-width: 1000px;
}
#slideWrap {
	width: 340px;
	float: left;
}
#slideWrap ol {
	list-style: none;
	height: 39px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
    background: #f5f5f5;
    line-height: 37px;
}
#slideWrap ol li {
	display: inline-block;
	width: calc(20% - 6px);
	text-align: center;
	border-right: 1px solid #d6d6d6;
}
#slideWrap ol li:last-child {
	border-right: none;
}
#slideWrap ol li.active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
#slideWrap ol li a {
    font-family: 'Microsoft YaHei';
    font-size: 1.4em;
    color: #646464;
    text-decoration: none;
}
#slideWrap ol li a:hover {
    text-decoration: none;
}
#slideWrap ol li:hover {
    text-decoration: none;
    background-color: #e5eff8;
}
#linkImg {
    display: block;
    margin: 10px auto 0;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}
#linkImg img {
    width: 338px;
    height: 238px; 
    display: block;   
}


a.caption {
    height: 34px;
    line-height: 34px;
    color:white;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(102, 102, 102);
    display: block;
    text-align: center;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}
a.caption:hover {
    text-decoration: underline;
}
