header {
    height: 120px;
}
.img1 {
    float: left;
    width: 90px;
    margin-top: 16px;
}
.img2 {
    position: absolute;
    margin-left: 550px;
    height: 90px;
    margin-top: -21px;
}
.img3 {
    float: right;
    z-index: 1;
    margin-left: 620px;
    position: absolute;
}
.search_right {
    float: right;
    border-top: 0 ;
    border-left: 0;
    border-right:0 ;
    outline: 0;
    z-index: 2;
}
.search_right:focus
    {
    border-color: blue;
    }
h1 {
    font-size: 60px;
    margin-left: 100px;
    font-weight:lighter;
    font-family:华文黑体;
    letter-spacing: 0.2em;
    line-height: 120px;
    margin-bottom: 0px;
}
.line_x {
    border-bottom:1px solid rgb(0, 102, 255) ;
    border-width: 1px;
    width: 100%;
    margin-top: 0px;
}
.nav_z {
    float: left;
    width: 15%;
    margin-top :20px; 
}
.ul00 {
    margin-left: 0px;
    padding: 0px;
}
ul {
    height: 600px;
    list-style: none;
}
.border_1 {
    border-right: 1px dotted gray;
}
nav ul li::before {
    content: ' ';
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    overflow: hidden;
    margin-right: 0.5em;
    vertical-align: .15em;
    border-top: 1px dotted #1976D2; /* 设置上边框 */
    border-right: 1px dotted #1976D2; /* 和下边框 */
    transform: rotate(45deg); /* 然后旋转 45 度 */
    }
article {
    float: left;
    width: 85%;
}
.section_4 {
    float: left;
    width: 350px;
    margin-left: 9px;
    margin-top: 30px;
    height: 300px;
}
.div_0 {
    float: left;
    background-color:rgb(230, 17, 17);
    width: 720px;
    margin-left: 9px;
    height: 70px;
}
.v_border2{
    width: 350px;
    border-top: 1px dotted #000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
footer {
    float: left;
}
.div_more {
    float: right;
}
.line_xx {
    border-top: 1px solid #1976D2;
    border-width:2px;
}
.span1 {
    float: right;
    margin-top: 10px;
}
.span2 {
    font-size: 25px;
    margin-top: 10px;
}
a {
    text-decoration: none;
}
.a_vv {
    /* 定义为行内块级元素，只有块级元素可设置文字溢出后的替换效果 */
    display: inline-block;
    /*
    宽度 =100%-左侧装饰符的宽度 (0.25em)-装饰符左 (1px)、右 (0.5em) 外边距
    注意：calc 函数中运算符的左、右两边一定要有一个空格，否则无效！
    */
    width: calc(100% - 0.75rem - 1px);
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 文字溢出部分使用···替代 */
    color: #369;
    text-decoration: none;
    white-space: nowrap; 
}
.ul4 {
    margin-left: 0px;
    padding-left: 0px;
}
.text1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.4em;
    margin-left: 135px;
    font-family: 幼圆;
    color: rgb(248,231,76);
    text-shadow: 5px 5px 0.5 #000;
}
footer {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 153, 255);
    color: #fff;
}
.guding {
    position: fixed;
    left: 840px;
    top: 630px;
}
.li1 {
    margin-bottom: 6px;
}
