* { margin: 0; padding: 0; }
html { font: 16px/1 '宋体'; }
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.page_header {
  height: 120px;
  border-bottom: 2px solid #1976D2;
  margin-bottom: 1rem;
}
.page_header img {
  float: left;
  width: 90px;
  margin: 15px;
}
.page_header h1 {
  line-height: 120px;
  font: normal 3em/120px 'Microsoft YaHei';
  letter-spacing: .2em;
  display: inline;
}
.page_header input {
  float: right;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #666;
  outline: 0;
  padding: 0.2em 0.2em 0.2em 1.4em;
  margin: 15px;
  background-image: url(../images/magnifier-tool.svg);
  background-repeat: no-repeat;
  background-size: 1.0em;
  background-position: left center;
}
.page_header input:focus {
  border-bottom: 1px solid rgb(4, 123, 221);
}
main{ clear: both; }
ul { list-style: none; }
main > aside {
  float: left;
  width: 15%;
}
main > article {
  float: left;
  width: calc(85% - 1px);
  border-left: 1px solid #ccc;
}
aside > nav {
  width: 8rem;
  margin: 2em auto;
}
aside li {
  padding: .3em 0;
} 
aside a {
  color: #333;
  font: 1em 'Dengxian', '华文细黑';
  text-decoration: none;
}
aside a:hover {
  color: #1976D2;
  text-decoration: underline;
}
nav ul li::before {
  content: ' ';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  overflow: hidden;
  margin-right: 0.5em;
  vertical-align: .15em;
  border-top: 1px dotted #1976D2; /* 设置上边框 */
  border-right: 1px dotted #1976D2; /* 和下边框 */
  transform: rotate(45deg); /* 然后旋转 45 度 */
}
footer {
  font: .75rem/1.5 '宋体';
  margin-top: 1rem;
  padding: 1rem;
  
  color: rgb(224, 237, 255);
  background-color: rgb(31, 153, 235);
  border-top: 2px solid #1976D2;
}
.row {
  padding: 1em;
  clear: both;
}
.row section {
  float: left;
  /* -0.5px用于修正Edge等浏览器的舍入误差 */
  width: calc(50% - .5em - .5px); 
  min-width: 350px;
}
.row section:first-child {
  margin-right: 1rem;
}
article header {
  height: 2rem;
  border-bottom: 2px solid #1976D2;
}
article header h2 {
  float: left;  
  font: normal 1.5rem 'Dengxian', '华文细黑';
}
article header span {
  font: .75rem/1 Arial, sans-serif;
  float: right;
  color: #ccc;
  margin-top: .75rem;
  padding-right: .5em;
  margin-right: .5em;
  vertical-align: bottom;
  border-right: .2em #ccc dotted;
}
article li {
  padding: .5em 1px;  
}
article li:not(:last-child) {
  border-bottom: 1px #ccc dotted;
}
article a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
}
article a:hover {
  color: darkorange;
  text-decoration: underline;
}
.banner {
  min-height: 20px;
  margin: 1rem;
  padding: 0.5em;
  background: rgb(230, 17, 17);
  color: rgb(248, 231, 76);
  font: 3vw 幼圆;
  letter-spacing: 0.5em;
  text-align: center;
  text-shadow: .1vw .1vw  rgba(0, 0, 0, 0.5);
  position: relative;
}
.banner img {
  position: absolute;
  right: 3vw;
  bottom: 5px;
  width: 12vw
}
.fixed {
  width: 32px;
  height: 64px;
  position: fixed;
  bottom: 0;
  right: 0;
}